<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wage_adjustment.Properties.Settings.wade_adjustConnectionString"
            connectionString="Data Source=DESKTOP-KMS5MRC;Initial Catalog=&quot;wade adjust&quot;;Persist Security Info=True;User ID=sa;Password=1274773226"
            providerName="System.Data.SqlClient" />
        <add name="Wage_adjustment.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-KMS5MRC;User ID=sa;Password=1274773226"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>